*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/repo
/captures
.externalNativeBuild
.cxx
local.properties
.project
.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.buildship.core.prefs
library/.settings/org.eclipse.buildship.core.prefs
TestHookPlugin/.idea/
library/.classpath
app/.classpath
hook-plugin/.classpath
hook-plugin/.settings/org.eclipse.buildship.core.prefs
